{% extends 'paintings/base.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block header_block %}{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">
        <h1>Сброс пароля</h1>

        <form method="post" class="law-search chat-formA">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="law-btn-primary">
                Установить новый пароль
            </button>
        </form>

        <div class="auth-links">
            <p><a class="law-btn-primary back-btn" href="{% url 'login' %}">Вернуться ко входу</a></p>
        </div>
    </div>

</div>

{% endblock %}